.expenses .expense {
  position: relative;
  cursor: pointer;
  font-size: 14px; }
  .expenses .expense.editing {
    padding: 10px 4px; }
    .expenses .expense.editing:hover .edit {
      display: none; }
  .expenses .expense > div {
    height: 50px;
    line-height: 50px; }
  .expenses .expense .name {
    float: left;
    max-width: calc(59% - 16px);
    margin-left: 8px;
    font-weight: bold; }
  .expenses .expense .amount {
    float: right;
    font-size: 16px;
    max-width: calc(46% - 14px);
    text-align: right;
    margin-right: 8px; }
    .expenses .expense .amount input {
      width: calc(100% - 15px); }
  .expenses .expense .form-control {
    display: initial;
    padding: 6px 0 6px 6px; }
  .expenses .expense .edit {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 20px;
    font-size: 10px;
    line-height: 10px;
    color: #999; }
  .expenses .expense:hover .edit {
    display: inline; }
