.accounts {
  min-height: 120px; }
  .accounts .name {
    text-align: right; }
  .accounts .amount {
    float: right; }
  .accounts .banking {
    font-size: 12px;
    line-height: 28px; }
    .accounts .banking .income {
      font-size: 16px; }
  .accounts .outgoing .expenses {
    color: #900; }
  .accounts .outgoing .debts {
    color: #900; }
